<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <title>Mailboss</title>
</head>
<body style="background-color: #ccffff;">
  <div style="width: 80%; position: absolute; top: 10%; left: 10%;">
    <div class="jumbotron" style=" background-color:#fff !important;">
      <h1 class="display-4">Activation Status</h1>
      <p class="lead"><%=status%></p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="/landing-page" role="button">Explore More</a>
      </p>
    </div>
  </div>
</body>
</html>